#aside {
    position: fixed;
    left: -260px;
    top: 0;
    width: 260px;
    height: 100%;
    transition: all .2s;
}

@media (min-width: 768px) {
    #aside {
        left: 0;
    }
}

.aside-open {
    #aside {
        left: 0;
    }
}