#aside {
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100%;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    z-index: 99;
}

.rtl {
    #aside {
        right: -260px;
        left: auto;
    }
}

.aside-open {
    #aside {
        left: 0;
    }

    &.rtl {
        #aside {
            right: 0;
            left: auto;
        }
    }
}

@media (min-width: 768px) {
    #aside {
        left: 0;
    }

    .rtl {
        #aside  {
            right: 0;
            left: auto;
        }
    }
}