#header {
    height: 55px;
}

.header-link {
    color: #343a40;
    min-width: 55px;
    transition: all .2s;

    &:hover {
        text-decoration: none;
        background-color: rgba($color: #000000, $alpha: .1);
    }
}