@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Black.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Black.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/woff2/IRANSansWeb_Black.woff2") format("woff2"), url("../fonts/IRANSans/woff/IRANSansWeb_Black.woff") format("woff"), url("../fonts/IRANSans/ttf/IRANSansWeb_Black.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Bold.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../fonts/IRANSans/woff/IRANSansWeb_Bold.woff") format("woff"), url("../fonts/IRANSans/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("../fonts/IRANSans/woff/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/IRANSans/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Light.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("../fonts/IRANSans/woff/IRANSansWeb_Light.woff") format("woff"), url("../fonts/IRANSans/ttf/IRANSansWeb_Light.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../fonts/IRANSans/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../fonts/IRANSans/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IRANSans/eot/IRANSansWeb.eot");
  src: url("../fonts/IRANSans/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSans/woff2/IRANSansWeb.woff2") format("woff2"), url("../fonts/IRANSans/woff/IRANSansWeb.woff") format("woff"), url("../fonts/IRANSans/ttf/IRANSansWeb.ttf") format("truetype");
}
.fs-10 {
  font-size: 0.625rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-20 {
  font-size: 1.25rem;
}

@media (min-width: 540px) {
  .fs-sm-10 {
    font-size: 0.625rem;
  }

  .fs-sm-12 {
    font-size: 0.75rem;
  }

  .fs-sm-14 {
    font-size: 0.875rem;
  }

  .fs-sm-16 {
    font-size: 1rem;
  }

  .fs-sm-20 {
    font-size: 1.25rem;
  }
}
@media (min-width: 720px) {
  .fs-md-10 {
    font-size: 0.625rem;
  }

  .fs-md-12 {
    font-size: 0.75rem;
  }

  .fs-md-14 {
    font-size: 0.875rem;
  }

  .fs-md-16 {
    font-size: 1rem;
  }

  .fs-md-20 {
    font-size: 1.25rem;
  }
}
@media (min-width: 960px) {
  .fs-lg-10 {
    font-size: 0.625rem;
  }

  .fs-lg-12 {
    font-size: 0.75rem;
  }

  .fs-lg-14 {
    font-size: 0.875rem;
  }

  .fs-lg-16 {
    font-size: 1rem;
  }

  .fs-lg-20 {
    font-size: 1.25rem;
  }
}
@media (min-width: 1140px) {
  .fs-xl-10 {
    font-size: 0.625rem;
  }

  .fs-xl-12 {
    font-size: 0.75rem;
  }

  .fs-xl-14 {
    font-size: 0.875rem;
  }

  .fs-xl-16 {
    font-size: 1rem;
  }

  .fs-xl-20 {
    font-size: 1.25rem;
  }
}
html {
  height: 100%;
}

body {
  min-height: 100%;
}

body.rtl {
  direction: rtl;
  text-align: right;
  font-family: IRANSans;
}

#aside {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 99;
}

.rtl #aside {
  right: -260px;
  left: auto;
}

.aside-open #aside {
  left: 0;
}
.aside-open.rtl #aside {
  right: 0;
  left: auto;
}

@media (min-width: 768px) {
  #aside {
    left: 0;
  }

  .rtl #aside {
    right: 0;
    left: auto;
  }
}
.brand {
  height: 55px;
  background-color: rgba(0, 0, 0, 0.25);
}

#main {
  margin-left: 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.rtl #main {
  margin-right: 0;
  margin-left: unset;
}

@media (min-width: 768px) {
  #main {
    margin-left: 260px;
  }

  .rtl #main {
    margin-right: 260px;
    margin-left: unset;
  }
}
#header {
  height: 55px;
}

#footer {
  height: 55px;
}

/*# sourceMappingURL=app.css.map */
